CREATE DATABASE [ROUTE_MANAGEMENT]
GO

USE [ROUTE_MANAGEMENT]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[BusID] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlates] [nvarchar](200) NOT NULL,
	[BusNumber] [nvarchar](200) NOT NULL,
	[SumSeats] [int] NOT NULL,
	[Status] [nvarchar](200) NOT NULL,
	[BusTypeID] [int] NOT NULL,
	[RoutesID] [int] NOT NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusRoutes]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusRoutes](
	[BusRouteID] [int] IDENTITY(1,1) NOT NULL,
	[RouteNumber] [nvarchar](200) NOT NULL,
	[RouteName] [nvarchar](200) NOT NULL,
	[ResponsibleUnitID] [int] NOT NULL,
	[OperationType] [nvarchar](200) NOT NULL,
	[OperationTime] [nvarchar](200) NOT NULL,
	[Fare] [int] NOT NULL,
	[BusesAmount] [nvarchar](550) NULL,
	[BusesTime] [nvarchar](550) NOT NULL,
	[BusesSpace] [nvarchar](550) NOT NULL,
 CONSTRAINT [PK_BusRoutes] PRIMARY KEY CLUSTERED 
(
	[BusRouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusStop]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusStop](
	[BusStopID] [int] IDENTITY(1,1) NOT NULL,
	[BusStopName] [nvarchar](200) NOT NULL,
	[BusStopDescription] [nvarchar](200) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Street] [nvarchar](200) NOT NULL,
	[Wards] [nvarchar](200) NULL,
	[District] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_BusStop] PRIMARY KEY CLUSTERED 
(
	[BusStopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusType]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusType](
	[BusTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CarMaker] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_BusType] PRIMARY KEY CLUSTERED 
(
	[BusTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Path] [nvarchar](1000) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[DocumentTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[DocumentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[IDCard] [nvarchar](200) NOT NULL,
	[Sex] [bit] NOT NULL,
	[DayOfBirth] [datetime] NOT NULL,
	[HomeTown] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver_Bus]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver_Bus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[BusID] [int] NOT NULL,
	[DepartureDay] [datetime] NULL,
 CONSTRAINT [PK_Driver_Bus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HandlingViolations]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HandlingViolations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ResponsibleUnitID] [int] NOT NULL,
	[ProcessingTime] [datetime] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_HandlingViolations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DateSubmitted] [datetime] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Link] [nvarchar](1000) NOT NULL,
	[Icon] [nvarchar](200) NOT NULL,
	[Mota] [nvarchar](100) NOT NULL,
	[TypeMenuID] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[NgayDang] [datetime] NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[Rank] [int] NULL,
	[Comments] [nvarchar](1000) NULL,
	[NumberOfReviews] [int] NULL,
	[NumberOfResponse] [int] NULL,
	[CoverImage] [nvarchar](1000) NULL,
	[Link] [nvarchar](200) NULL,
	[TypePostsID] [int] NULL,
	[SummaryContent] [nvarchar](3000) NULL,
 CONSTRAINT [PK_POSTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reflect]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reflect](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReflectTypeID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[PhoneNumber] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[VideoOrPicture] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Reflect] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReflectType]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReflectType](
	[ReflectTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ReflectType] PRIMARY KEY CLUSTERED 
(
	[ReflectTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponsibleUnit]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponsibleUnit](
	[ResponsibleUnitID] [int] IDENTITY(1,1) NOT NULL,
	[ReponsibleUnitName] [nvarchar](200) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
 CONSTRAINT [PK_ReponsibleUnit] PRIMARY KEY CLUSTERED 
(
	[ResponsibleUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[BusRoutesID] [int] NOT NULL,
	[StartPositionID] [int] NOT NULL,
	[EndPositionID] [int] NOT NULL,
	[RouteName] [nvarchar](200) NOT NULL,
	[RouteAmount] [int] NOT NULL,
	[RouteTime] [time](7) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[ApplicableDate] [date] NOT NULL,
	[OperationDate] [date] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NOT NULL,
	[NumberRoutes] [nvarchar](200) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stop_Route]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stop_Route](
	[StopRouteID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NOT NULL,
	[EndPositionID] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_Stop_Route] PRIMARY KEY CLUSTERED 
(
	[StopRouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePosts]    Script Date: 1/3/2023 10:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePosts](
	[TypePostsID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TypePosts] PRIMARY KEY CLUSTERED 
(
	[TypePostsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bus] ON 

INSERT [dbo].[Bus] ([BusID], [LicensePlates], [BusNumber], [SumSeats], [Status], [BusTypeID], [RoutesID]) VALUES (1, N'12A-12345', N'22', 20, N'Hoạt động', 3, 1)
INSERT [dbo].[Bus] ([BusID], [LicensePlates], [BusNumber], [SumSeats], [Status], [BusTypeID], [RoutesID]) VALUES (2, N'12A-12346', N'224', 20, N'Hoạt động', 2, 1)
INSERT [dbo].[Bus] ([BusID], [LicensePlates], [BusNumber], [SumSeats], [Status], [BusTypeID], [RoutesID]) VALUES (3, N'12A-19999', N'01', 20, N'Hoạt động', 3, 1)
SET IDENTITY_INSERT [dbo].[Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[BusRoutes] ON 

INSERT [dbo].[BusRoutes] ([BusRouteID], [RouteNumber], [RouteName], [ResponsibleUnitID], [OperationType], [OperationTime], [Fare], [BusesAmount], [BusesTime], [BusesSpace]) VALUES (1, N'04', N'Đà Lạt - Bảo Lộc', 111111111, N'Phổ thông - Có trợ giá', N'Oct 27 2022 11:24PM', 111111, N'13', N'Oct 27 2022 11:24PM', N'Oct 27 2022 11:24PM')
SET IDENTITY_INSERT [dbo].[BusRoutes] OFF
GO
SET IDENTITY_INSERT [dbo].[BusStop] ON 

INSERT [dbo].[BusStop] ([BusStopID], [BusStopName], [BusStopDescription], [Latitude], [Longitude], [Street], [Wards], [District]) VALUES (1, N'Bến xe Mai Anh Đào', N'207', 11.975417137145996, 108.44132232666016, N'Mai Anh Đào', N'Phường 8', N'Đà Lạt')
INSERT [dbo].[BusStop] ([BusStopID], [BusStopName], [BusStopDescription], [Latitude], [Longitude], [Street], [Wards], [District]) VALUES (2, N'Đường Phù Đổng Thiên Vương', N'207', 11.964024543762207, 108.44316864013672, N'Phù Đổng Thiên Vương', N'Phường 8', N'Đà Lạt')
INSERT [dbo].[BusStop] ([BusStopID], [BusStopName], [BusStopDescription], [Latitude], [Longitude], [Street], [Wards], [District]) VALUES (3, N'Đường Đinh Tiên Hoàng', N'2-4', 11.950879096984863, 108.44252777099609, N'Đinh Tiên Hoàng', N'Phường 2', N'Đà Lạt')
SET IDENTITY_INSERT [dbo].[BusStop] OFF
GO
SET IDENTITY_INSERT [dbo].[BusType] ON 

INSERT [dbo].[BusType] ([BusTypeID], [Name], [CarMaker]) VALUES (1, N'Taxi', N'vinfast')
INSERT [dbo].[BusType] ([BusTypeID], [Name], [CarMaker]) VALUES (2, N'Xe 2 tầng', N'vinfast')
INSERT [dbo].[BusType] ([BusTypeID], [Name], [CarMaker]) VALUES (3, N'Xe buýt phổ thông', N'hyundai')
SET IDENTITY_INSERT [dbo].[BusType] OFF
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([ID], [Title], [Path], [Content], [DocumentTypeID]) VALUES (1, N'PLM/3', N'thunha.pdf', N'Triển khai toà lâu đài tình ái', 2)
INSERT [dbo].[Document] ([ID], [Title], [Path], [Content], [DocumentTypeID]) VALUES (2, N'115 - TB/9o', N'113 TB TRUNG TÂM (TRIỂN KHAI THÍ ĐIỂM KẾT QUẢ THỦ TỤC HÀNH CHÍNH TRONG NGÀY).pdf', N'Thông báo về việc công ty đã sang trang mới', 7)
INSERT [dbo].[Document] ([ID], [Title], [Path], [Content], [DocumentTypeID]) VALUES (3, N'OLK/8', N'Thong_bao_so_20_TB_TW_ngay_08_9_2022.pdf', N'Kế hoạch ngàn năm văn vở', 4)
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentType] ON 

INSERT [dbo].[DocumentType] ([DocumentTypeID], [Name]) VALUES (1, N'Tờ Trình')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [Name]) VALUES (2, N'Triển Khai')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [Name]) VALUES (3, N'Hợp đồng')
SET IDENTITY_INSERT [dbo].[DocumentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([DriverID], [FullName], [IDCard], [Sex], [DayOfBirth], [HomeTown]) VALUES (1, N'Nguyễn Văn A', N'0123456789', 1, CAST(N'1996-12-10T00:00:00.000' AS DateTime), N'Đà Lạt')
INSERT [dbo].[Driver] ([DriverID], [FullName], [IDCard], [Sex], [DayOfBirth], [HomeTown]) VALUES (2, N'Nguyễn Văn C', N'2475698134', 1, CAST(N'1995-04-02T00:00:00.000' AS DateTime), N'Quãng Ngãi')
INSERT [dbo].[Driver] ([DriverID], [FullName], [IDCard], [Sex], [DayOfBirth], [HomeTown]) VALUES (3, N'Trần Văn Tuấn', N'07894512369', 1, CAST(N'1995-10-12T00:00:00.000' AS DateTime), N'Huế')
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver_Bus] ON 

INSERT [dbo].[Driver_Bus] ([ID], [DriverID], [BusID], [DepartureDay]) VALUES (1, 1, 1, CAST(N'2023-01-02T22:39:11.417' AS DateTime))
INSERT [dbo].[Driver_Bus] ([ID], [DriverID], [BusID], [DepartureDay]) VALUES (2, 2, 2, CAST(N'2023-01-03T08:54:38.707' AS DateTime))
INSERT [dbo].[Driver_Bus] ([ID], [DriverID], [BusID], [DepartureDay]) VALUES (3, 2, 2, CAST(N'2023-01-03T08:54:54.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[Driver_Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[HandlingViolations] ON 

INSERT [dbo].[HandlingViolations] ([ID], [Title], [ResponsibleUnitID], [ProcessingTime], [Content]) VALUES (1, N'Hành vi vượt ẩu', 1, CAST(N'2021-11-13T00:00:00.000' AS DateTime), N'http://buyttphcm.com.vn/Portals/0/X%E1%')
INSERT [dbo].[HandlingViolations] ([ID], [Title], [ResponsibleUnitID], [ProcessingTime], [Content]) VALUES (2, N'Xử lý vi phạm tháng 8/2019', 2, CAST(N'2019-11-19T00:00:00.000' AS DateTime), N'http://buyttphcm.com.vn/Portals/0/X%E1%BB%AD%20ph%1')
INSERT [dbo].[HandlingViolations] ([ID], [Title], [ResponsibleUnitID], [ProcessingTime], [Content]) VALUES (3, N'Xử lý vi phạm tháng 9/2019 ', 3, CAST(N'2019-12-13T00:00:00.000' AS DateTime), N'http://buyttphcm.com.vn/Po')
SET IDENTITY_INSERT [dbo].[HandlingViolations] OFF
GO
SET IDENTITY_INSERT [dbo].[Information] ON 

SET IDENTITY_INSERT [dbo].[Information] OFF
GO
SET IDENTITY_INSERT [dbo].[POSTS] ON 

SET IDENTITY_INSERT [dbo].[POSTS] OFF
GO
SET IDENTITY_INSERT [dbo].[Reflect] ON 

INSERT [dbo].[Reflect] ([ID], [ReflectTypeID], [Title], [Email], [FullName], [PhoneNumber], [Content], [VideoOrPicture], [Status]) VALUES (1, 1, N'ch?t lu?ng vi ph?m xe buýt dang có chuyeefu hu?ng di lên', N'emxinbotay0711@gmail.com', N'Phan Qu?c Huy', N'0904941277', N'Tôi r?t mong các co quan don nghành vào cu?c kh?c ph?c ngay ', N'../images/08854f5c83695a370378.jpg', N'Ðã X? Lý')
INSERT [dbo].[Reflect] ([ID], [ReflectTypeID], [Title], [Email], [FullName], [PhoneNumber], [Content], [VideoOrPicture], [Status]) VALUES (2, 2, N'Hạ tầng xuống cấp nghiêm trọng', N'phanquochuy2001na@gmail.com', N'Phan Quốc Huy', N'0904941277', N'rất mong các cơ quan đoàn thể vào cuộc giải quyết', N'../images/image_67517953.JPG', N'Đã Xử Lý')
INSERT [dbo].[Reflect] ([ID], [ReflectTypeID], [Title], [Email], [FullName], [PhoneNumber], [Content], [VideoOrPicture], [Status]) VALUES (3, 1, N'ch?t lu?ng vi ph?m xe buýt dang có hu?ng di lên', N'emxinbotay0711@gmail.com', N'Phan Quốc Huy', N'0904941277', N'Tôi rất mong các cơ quan đơn nghành vào cuộc khắc phục ngay ', N'../images/08854f5c83695a370378.jpg', N'Đã Xử Lý')
SET IDENTITY_INSERT [dbo].[Reflect] OFF
GO
SET IDENTITY_INSERT [dbo].[ReflectType] ON 

INSERT [dbo].[ReflectType] ([ReflectTypeID], [Name]) VALUES (1, N'Chất lượng vi phạm xe buýt')
INSERT [dbo].[ReflectType] ([ReflectTypeID], [Name]) VALUES (2, N'Hạ tầng bến bãi xe buýt')
INSERT [dbo].[ReflectType] ([ReflectTypeID], [Name]) VALUES (3, N'Lộ trình thời gian hoạt động tuyến')
SET IDENTITY_INSERT [dbo].[ReflectType] OFF
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([RouteID], [BusRoutesID], [StartPositionID], [EndPositionID], [RouteName], [RouteAmount], [RouteTime], [StartTime], [EndTime], [ApplicableDate], [OperationDate]) VALUES (1, 1, 1, 20, N'Đà Lạt - Bảo Lộc:Bến xe Mai Anh Đào-Bến xe Bảo lộc', 0, CAST(N'00:45:00' AS Time), CAST(N'2022-10-24T00:00:00.000' AS DateTime), CAST(N'2022-10-31T00:00:00.000' AS DateTime), CAST(N'2022-07-19' AS Date), CAST(N'2022-10-27' AS Date))
INSERT [dbo].[Route] ([RouteID], [BusRoutesID], [StartPositionID], [EndPositionID], [RouteName], [RouteAmount], [RouteTime], [StartTime], [EndTime], [ApplicableDate], [OperationDate]) VALUES (2, 1, 20, 1, N'Đà Lạt - Bảo Lộc:Bến xe Bảo lộc-Bến xe Mai Anh Đào', 0, CAST(N'00:42:00' AS Time), CAST(N'2022-10-24T00:00:00.000' AS DateTime), CAST(N'2022-10-31T00:00:00.000' AS DateTime), CAST(N'2022-07-19' AS Date), CAST(N'2022-10-27' AS Date))
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
SET IDENTITY_INSERT [dbo].[Stop_Route] ON 

INSERT [dbo].[Stop_Route] ([StopRouteID], [RouteID], [EndPositionID], [Order]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Stop_Route] ([StopRouteID], [RouteID], [EndPositionID], [Order]) VALUES (2, 2, 20, 1)
INSERT [dbo].[Stop_Route] ([StopRouteID], [RouteID], [EndPositionID], [Order]) VALUES (3, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Stop_Route] OFF
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_DocumentType] FOREIGN KEY([DocumentTypeID])
REFERENCES [dbo].[DocumentType] ([DocumentTypeID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_DocumentType]
GO
ALTER TABLE [dbo].[Reflect]  WITH CHECK ADD  CONSTRAINT [FK_Reflect_ReflectType] FOREIGN KEY([ReflectTypeID])
REFERENCES [dbo].[ReflectType] ([ReflectTypeID])
GO
ALTER TABLE [dbo].[Reflect] CHECK CONSTRAINT [FK_Reflect_ReflectType]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_BusRoutes] FOREIGN KEY([BusRoutesID])
REFERENCES [dbo].[BusRoutes] ([BusRouteID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_BusRoutes]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_BusStop] FOREIGN KEY([StartPositionID])
REFERENCES [dbo].[BusStop] ([BusStopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_BusStop]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_BusStop1] FOREIGN KEY([EndPositionID])
REFERENCES [dbo].[BusStop] ([BusStopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_BusStop1]
GO
ALTER TABLE [dbo].[Stop_Route]  WITH CHECK ADD  CONSTRAINT [FK_Stop_Route_BusStop] FOREIGN KEY([EndPositionID])
REFERENCES [dbo].[BusStop] ([BusStopID])
GO
ALTER TABLE [dbo].[Stop_Route] CHECK CONSTRAINT [FK_Stop_Route_BusStop]
GO
ALTER TABLE [dbo].[Stop_Route]  WITH CHECK ADD  CONSTRAINT [FK_Stop_Route_Route] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Route] ([RouteID])
GO
ALTER TABLE [dbo].[Stop_Route] CHECK CONSTRAINT [FK_Stop_Route_Route]
GO
