nav {
    width: 100%;
    background-color: #34B67A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
}

.menu.show {
    display: flex;
}

.menu li {
    height: 100%;
}

.menu li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
}

.menu li:hover .sub-menu {
    display: block;
}

.menu li a:hover {
    background-color: #109D59;
}

.menu .sub-menu {
    position: absolute;
    z-index: 1000;
    width: 250px;
    list-style: none;
    background-color: #34B67A;
    border: 1px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    display: none;
}

.sub-menu li a {
    display: block;
    height: 100%;
    padding: 10px;
}

#menu-switch {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.btn-custome, btn-custome:hover {
    background: #339933;
    color: #fff;
    margin: 0 5px;
    border: 1px solid #339933;
}
